enable-pre-post-scripts=true
side-effects-cache=false
save-exact=true
audit=false
fund=false
progress=false
auto-install-peers=true
legacy-peer-deps=true
engine-strict=true
registry=https://registry.npmjs.org/