<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jose Constela – Software Development Consultant</title>
  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel="stylesheet" id="custom" href="/css/custom.css" type="text/css" media="all">
  <link rel="stylesheet" id="twentynineteen-style-css" href="/css/style.css" type="text/css" media="all">
  <link rel="stylesheet" id="twentynineteen-print-style-css" href="/css/print.css" type="text/css" media="print">
</head>
