---
layout: blog
---

{% include head.html %}
{% include header.html %}
<div id="content" class="site-content">
  <section id="primary" class="content-area">
    <main id="main" class="site-main">
      <article id="post-13" class="post-13 page type-page status-publish hentry entry">
        <div class="entry-header">
          <h2 class="entry-title">
            Blog entries
          </h2>
        </div>
        
        {{ content }}
      </article>
    </main>
  </section>
</div>
{% include footer.html %}