---
layout: page
---
{% include head.html %}
{% include header.html %}
<div id="content" class="site-content">
  <section id="primary" class="content-area">
    <main id="main" class="site-main">
      <article id="post-13" class="post-13 page type-page status-publish hentry entry">
        {% if page.title %}
          <header class="entry-header"> {{page.title}} </header>
        {% endif %}
        <div class="entry-content">
          {{ content }}
        </div><!-- .entry-content -->
      </article><!-- #post-13 -->
    </main><!-- #main -->
  </section><!-- #primary -->
</div>
{% include footer.html %}