---
layout: post
---
{% include head.html %}
{% include header.html %}
<div id="content" class="site-content">
  <section id="primary" class="content-area">
    <main id="main" class="site-main">
      <article class="page type-page status-publish hentry entry">
        <div class="entry-header">
          <h3 class="entry-title">
              {{page.title}}
          </h3>
        </div>
        <div class="entry-content">
          {{ content }}
        </div>
      </article>
    </main>
  </section>
</div>
{% include footer.html %}